#PAGE_budget {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    margin-top: var(--navbar_height);
    padding: 20px;
}
#PAGE_budget .section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: calc((100vh - 40px - var(--navbar_height)) / 3);
    max-height: calc((100vh - 40px - var(--navbar_height)) / 3);
    margin-top: 20px 0px;
}
#PAGE_budget .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
}
#PAGE_budget h1 {
    display: block;
    margin-bottom: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 22px;
    font-weight: 500;
    
}
#PAGE_budget .scrollable_list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: calc((100vh - 40px - var(--navbar_height)) - 41px - 35px);
    max-height: calc((100vh - 40px - var(--navbar_height))- 41px - 35px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: var(--scrollBar_padding);
}

.budget_item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    margin: 8px 0px;
    padding: 0px 12px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFFFFF23;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -5px white inset, 0px 4px 16px -16px black;
    backdrop-filter: blur(7px);
    
}
.budget_item > * {
    position: relative;
    display: block;
    height: 50%;
    padding: 0px 20px;
    font-size: 30px;
    pointer-events: none;
}
.budget_item > p {
    transform: translateY(-6px);
}

#PAGE_budget_page{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: var(--navbar_height);
}

.inner_budget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px 40px;
}

.inner_budget > div{
    padding: 0px 10px 10px 0px;
}

#selection_buttons{
    display: flex;
    flex-direction: row;
}

#year_container{
    padding-right: var(--scrollBar_padding);
}

#yearly_buttons{
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    width: 90px;
    min-width: 90px;
    overflow-y: scroll;
    padding-right: var(--scrollBar_padding);
}

#yearly_buttons button{
    width: 100%;
    height: 32px;
} 

#monthly_buttons{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90px;
    min-width: 90px;
    overflow-y: scroll;
    padding-right: var(--scrollBar_padding);
}

#monthly_buttons button{
    width: 100%;
    height: 32px;
}

#budget_container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding-right: var(--scrollBar_padding);
    margin-left: 25px;
}

#budget_container > div{
    display: flex;
    flex-direction: column; 
    width: 50%;
    height: fit-content;
}

#income_week > div{
    display: flex;
    flex-direction: row; 
    height: 20px;
    cursor: default;
}

#income_week > div > p{
    width: 100%;
    border: 1px solid black;
    background-color: white;
}

#income_week > div > p:nth-child(2){
    text-align: right;
    color: green;
}