:root {
    --navbar_height: 60px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { 
    background-image: url("../Images/home.png");
    background-repeat: no-repeat;
    overflow: hidden; 
}

.hidden {
    display: none !important;
}