.form_error{
    border-color: red !important;
}


#PAGE_settings {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    margin-top: var(--navbar_height);
    padding: 20px;
}
#PAGE_settings .section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: calc(100vh - 150px - var(--navbar_height));
    max-height: calc(100vh - 150px - var(--navbar_height));
    margin-top: 20px 0px;
}
#PAGE_settings h1 {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid black;
}
#PAGE_settings .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
#PAGE_settings .scrollable_list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: calc(100vh - 150px - var(--navbar_height));
    max-height: calc(100vh - 150px - var(--navbar_height));
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: var(--scrollBar_padding);
}

.input_box {
    position: absolute;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    backdrop-filter: blur(15px);
    transition: 0.2s ease all;
    pointer-events: none;
    z-index: 10;
}
.input_box_open {
    opacity: 1;
    pointer-events: all;
}

.input_box_open button{
    width: 110px;
}



.colour_card {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    margin: 2px 0px;
    padding: 0px 12px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFFFFF23;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -5px white inset, 0px 4px 16px -16px black;
    backdrop-filter: blur(7px);
}
.colour_card > * {
    position: relative;
    display: block;
    height: 18px;
    padding: 0px 5px;
    border-radius: 3px;
}
.colour_card > p {
    transform: translateY(-2px);
}

.colour_card_checkbox_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.colour_card_checkbox_list input{
    margin-top: 4px;
    width: 30px;
}


.dropdown-check-list {
    position: relative;
    display: inline-block;
    margin-top: -3px;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
}
.dropdown-check-list .checklist_anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 1px 50px 3px 10px;
    border: 1px solid white;
    border-radius: 5px;
    user-select: none;
}
.dropdown-check-list .checklist_anchor:after {
    content: "";
    position: absolute;
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 2px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .checklist_anchor:active::after {
    top: 4px;
}
.dropdown-check-list ul.items {
    position: relative;
    z-index: 5;
    display: none;
    margin: 0;
    padding: 10px 2px 0px;
    background-color: white;
    border: 1px solid white;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}
.dropdown-check-list ul.items li {
    list-style: none;
}
.dropdown-check-list.visible .checklist_anchor {
    border-radius: 5px 5px 0px 0px;
}
.dropdown-check-list.visible .items {
    display: block;
}
