* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body { 
    background-image: url("../Images/home.png");
    background-repeat: no-repeat;
    overflow-x: hidden; 
}

.home{
    text-align: center;
    margin: 3%;
}

.home h2{
    margin-top: 10%;
}


.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--navbar_height));
}
.page .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#projects_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 30px);
    height: 600px;
    max-height: 600px;
    border: 1px solid white;
    border-radius: 5px;
}
#projects_controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
#projects_controls div{
    width: 35px;
    height: 35px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
#projects_controls div:hover{
    background-color: blue;
}
#projects_list{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.small_project_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 40px;
    margin: 4px 0px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    pointer-events: all;
}
.small_project_card h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
}
.small_project_card p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    pointer-events: none;
}
.small_project_card div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin: 0px 1px 0px 10px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}
.small_project_card div::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 8px 0px 0px black,
                0px 16px 0px 0px black;
    transform: translateY(-8px);
    user-select: none;
    pointer-events: none;
}


#PAGE_create_project .creation_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF23;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px white inset,
                0px 4px 16px -16px black;
    backdrop-filter: blur(5px);
    transition: 0.3s ease all;
}
input {
    width: 200px;
    margin-bottom: 15px;
    padding: 2px;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: 1px solid white;
    border-bottom: 3px solid white;
    border-radius: 5px;
    outline: unset;
    transition: 0.2s ease border;
}
input:focus {
    border-color: black;
}
button {
    padding: 5px 20px;
    color: black;
    background: linear-gradient(45deg, white, white);
    border: unset;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transition: 0.2s ease all;
    cursor: pointer;
}
button:hover {
    padding-right: 30px;
    padding-left: 30px;
}


.form_error input {
    border-color: red !important;
}