* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body { 
    background-image: url("../Images/home.png");
    background-repeat: no-repeat;
    overflow-x: hidden; 
}

.home{
    text-align: center;
    margin: 3%;
}

.home h2{
    margin-top: 10%;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    margin-top: 2%;
    margin-left: 2%;
    
}

input{
    margin-left: 2%;
}