:root {
	--i_page_margins: 40px;
	--i_color: dodgerblue;
}
* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    margin: 0px;
}

p {
    margin: 0px;
}

#PRINTtheTHING{
	display: flex;
	flex-direction: row;
}

#invoice_sheet {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 21cm;
	min-width: 21cm;
	max-width: 21cm;
	height: 27.7cm;
	min-height: 27.7cm;
	max-height: 27.7cm;
	padding: var(--i_page_margins);
	font-family: 'Calibri', sans-serif;
	background-color: white;
}
#invoice_sheet > .inner {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
}

#invoice_sheet .top_section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}
#invoice_sheet .top_left {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
}
#invoice_sheet .top_right {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	width: 50%;
}
#invoice_sheet .title {
	color: var(--i_color);
	font-family: 'Oxanium';
	font-size: 50px;
}

#invoice_sheet .box_with_heading {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 300px;
	margin: 30px 0px;
	text-align: left;
}
#invoice_sheet .box_with_heading p {
	display: block;
	width: 100%;
	height: 16px;
	padding: 0px 0px 0px 10px;
}
#invoice_sheet .box_with_heading p:nth-child(1) {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: white;
	font-family: 'Oxanium';
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--i_color);
}

#invoice_sheet .dual_box_heading{
	display: flex;
	width: 300px;
}


#invoice_sheet #bottom_section{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-top: 1cm;
}

#invoice_sheet .invoice_sheet_column{
	border-top: 1px solid black;
	border-right: 1px solid black;
}
#invoice_sheet .invoice_sheet_column:nth-child(1){ /* Description */
	width: 100%;
	border-left: 1px solid black;
}
#invoice_sheet .invoice_sheet_column:nth-child(2){ /* Rate */
	width: 2.8cm;
	min-width: 2.8cm;
}
#invoice_sheet .invoice_sheet_column:nth-child(3){  /* Quantity */
	width: 2.8cm;
	min-width: 2.8cm;
}
#invoice_sheet .invoice_sheet_column:nth-child(4){  /* Total */
	width: 2.8cm;
	min-width: 2.8cm;
}

#invoice_sheet .heading{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 0px 0px 10px;
	color: white;
	font-family: 'Oxanium';
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--i_color);
}
#invoice_sheet .cell{
	border-bottom: 1px dashed black;
	min-height: 20px;
}
#invoice_sheet .cell:last-child{
	border-bottom: 1px solid black;
}