@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

:root {
	--navbar_height: 55px;
	--navbar_menu_width: 150px;
}

html {
	background: linear-gradient(180deg, #14aef1, #1495f1);
	background-repeat: no-repeat;
	overflow: hidden;
	height: 100vh;
}

body {
    margin: 0px;
}

.page_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--navbar_height) - 5px);
}

.page_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    height: calc(100vh - var(--navbar_height) - 5px);
}

/* Dim */
::-webkit-scrollbar {
	width: 15px;
	height: 15px;
    
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #FFFFFF23;
	border-radius: 10px;
	box-shadow: 0px 0px 9px -5px grey inset, 0px 4px 16px -16px black;
	backdrop-filter: blur(7px);
}

::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #050779; 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6d19a9; 
}