:root {
	--i_page_margins: 40px;
	--i_color: dodgerblue;
}

#PRINTtheTHING{
	display: flex;
	flex-direction: row;
}

#invoice_sheet {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 21cm;
	min-width: 21cm;
	max-width: 21cm;
	height: 29.7cm;
	min-height: 29.7cm;
	max-height: 29.7cm;
	padding: var(--i_page_margins);
	font-family: 'Calibri', sans-serif;
	background-color: white;
}
#invoice_sheet > .inner {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	border: 1px dotted black;
}

#invoice_sheet .top_section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}
#invoice_sheet .top_left {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
}
#invoice_sheet .top_right {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	width: 50%;
}
#invoice_sheet .title {
	color: var(--i_color);
	font-family: 'Oxanium';
	font-size: 50px;
}

#invoice_sheet .box_with_heading {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 300px;
	margin: 30px 0px;
	text-align: left;
}
#invoice_sheet .box_with_heading p {
	display: block;
	width: 100%;
	height: 16px;
	padding: 0px 0px 0px 10px;
}
#invoice_sheet .box_with_heading p:nth-child(1) {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: white;
	font-family: 'Oxanium';
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--i_color);
}

#invoice_sheet .dual_box_heading{
	display: flex;
	width: 300px;
}

#invoice_sheet #bottom_section{
	display: flex;
	width: 19cm;
	flex-direction: column;
	height: 100%;
}

#invoice_sheet #bottom_section div > div{
	margin: 0px;
}

#invoice_sheet .bottom_invoice{
	display: flex; 
	flex-direction: row; 
	width: 19cm;
}

#invoice_sheet .description_invoice{
	width: 45%;
	min-width: 45%;
	height: 18px;
	min-height: 18px;
	margin: 0px;
}
#invoice_sheet .qty_invoice{
	width: 15%;
	min-width: 15%;
	height: 18px;
	min-height: 18px;
	margin: 0px;
}
#invoice_sheet .unit_price_invoice{
	width: 20%;
	min-width: 20%;
	height: 18px;
	min-height: 18px;
	margin: 0px;
}
#invoice_sheet .amount_invoice{
	width: 20%;
	min-width: 20%;
	height: 18px;
	min-height: 18px;
	margin: 0px;
}

#invoice_sheet .cellInvoice{
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    height: 22px;
    min-height: 22px;
    background-color: white;
    user-select: none;
    font-size: 15px;
	padding-left: 7px;
}

#invoice_sheet .cellInvoiceTotalLabel{
    width: 250%;
    height: 22px;
    min-height: 22px;
    background-color: white;
    user-select: none;
    font-size: 15px;
	padding-left: 17px;
}
#invoice_sheet .cellInvoiceTotal{
    width: 100%;
    height: 22px;
    min-height: 22px;
    background-color: white;
    user-select: none;
    font-size: 17px;
	padding-left: 30%;
}





#invoice_sheet_time {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 21cm;
	min-width: 21cm;
	max-width: 21cm;
	height: 29.7cm;
	min-height: 29.7cm;
	max-height: 29.7cm;
	padding: var(--i_page_margins);
	font-family: 'Calibri', sans-serif;
	background-color: white;
}
#invoice_sheet_time > .inner {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	border: 1px dotted black;
}