.inner_settings{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

#colour_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 300px;
    max-height: 300px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
}

#settings_colour_controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border-bottom: 1px solid white;
}

#settings_colour_controls div{
    width: 35px;
    height: 35px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
#settings_colour_controls div:hover{
    background-color: blue;
}

#add_new_colour_button{
    margin: 7px;
}




#colourINFO{
    display: flex;
    flex-direction: row;
}

#colour_list{
    margin: 7px;
    width: 100px;
    height: 100%;
}


.colour_card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    height: 25px;
    margin-bottom: 5px;
}

.colour_card div{
    width: 15px;
    min-width: 15px;
    height: 15px;
    margin-right: 5px;
}

.colour_card p{
    margin-right: 50px;
}


#colour_list_checkboxes{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 7px;
    display: flex;
    flex-direction: column;
    
}


.check_box_container{
    display: flex;
    flex-direction: row;
    width: 75px;
    height: 25px;
    margin-bottom: 5px;
}

input[type="checkbox"]{
    margin-top: 6px;
    margin-right: 6px;
    min-width: 15px;
    width: 15px;
    height: 15px;
    min-height: 15px;
    margin-bottom: 5px;
}




